@model AddMaterialViewModel

<partial name="_MaterialDisplay" model="@Model.Material" />

<a asp-action="AddMaterial"
   asp-route-materialId="@Model.Material.Id"
   asp-route-courseId="@Model.CourseId">
    Добавить к курсу
</a>
